*~
*.pyc
*.pyo
*.so
*.cpp
*__pycache__
*.cache
*-checkpoint.ipynb
.eggs
.coverage
/build.conf
/build
/dist
/doc/build
/doc/source/reference/generated
/tkwant/*.c
/tkwant/*/*.c
/tkwant.egg-info
/MANIFEST.in
.pytest_cache
