/block2_a_comprehensive_open_source_framework_to_develop_and_apply_stat__2310_03920/concept_01/participant/v_01/workspace/runtime/*
!/block2_a_comprehensive_open_source_framework_to_develop_and_apply_stat__2310_03920/concept_01/participant/v_01/workspace/runtime/REVIEW_RUNTIME_REQUIREMENTS.txt
/block2_a_comprehensive_open_source_framework_to_develop_and_apply_stat__2310_03920/source/runtime/*
!/block2_a_comprehensive_open_source_framework_to_develop_and_apply_stat__2310_03920/source/runtime/REVIEW_RUNTIME_REQUIREMENTS.txt
/filter_function_formalism_and_software_package_to_compute_quantum_proc__2103_02403/concept_01/attempts/v_01/workspace/deps/*
!/filter_function_formalism_and_software_package_to_compute_quantum_proc__2103_02403/concept_01/attempts/v_01/workspace/deps/REVIEW_RUNTIME_REQUIREMENTS.txt
/filter_function_formalism_and_software_package_to_compute_quantum_proc__2103_02403/concept_01/participant/v_01/workspace/deps/*
!/filter_function_formalism_and_software_package_to_compute_quantum_proc__2103_02403/concept_01/participant/v_01/workspace/deps/REVIEW_RUNTIME_REQUIREMENTS.txt
/filter_function_formalism_and_software_package_to_compute_quantum_proc__2103_02403/concept_01/screening/participant_v_01_frozen.tar.gz
/filter_function_formalism_and_software_package_to_compute_quantum_proc__2103_02403/concept_01/solution/output/workspace/deps/*
!/filter_function_formalism_and_software_package_to_compute_quantum_proc__2103_02403/concept_01/solution/output/workspace/deps/REVIEW_RUNTIME_REQUIREMENTS.txt
/filter_function_formalism_and_software_package_to_compute_quantum_proc__2103_02403/source/deps/*
!/filter_function_formalism_and_software_package_to_compute_quantum_proc__2103_02403/source/deps/REVIEW_RUNTIME_REQUIREMENTS.txt
/hamiltonian_truncation_study_of_the_phi_4_theory_in_two_dimensions__1412_3460/private/deps/*
!/hamiltonian_truncation_study_of_the_phi_4_theory_in_two_dimensions__1412_3460/private/deps/REVIEW_RUNTIME_REQUIREMENTS.txt
/superscreen_an_open_source_package_for_simulating_the_magnetic_respons__2203_13388/concept_01/participant/v_01/workspace/runtime/*
!/superscreen_an_open_source_package_for_simulating_the_magnetic_respons__2203_13388/concept_01/participant/v_01/workspace/runtime/REVIEW_RUNTIME_REQUIREMENTS.txt
/superscreen_an_open_source_package_for_simulating_the_magnetic_respons__2203_13388/source/runtime/*
!/superscreen_an_open_source_package_for_simulating_the_magnetic_respons__2203_13388/source/runtime/REVIEW_RUNTIME_REQUIREMENTS.txt
/topological_defect_dynamics_of_vortex_lattices_in_bose_einstein_conden__1608_07756/private/tools/*
!/topological_defect_dynamics_of_vortex_lattices_in_bose_einstein_conden__1608_07756/private/tools/REVIEW_RUNTIME_REQUIREMENTS.txt
